<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GrupoSM_Recepcion.Properties.Settings.GrupoSMConnectionString5"
      connectionString="Data Source=SERVIDOR1\SERVIDOR1;Initial Catalog=GrupoSM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GrupoSM_Recepcion.Properties.Settings.GrupoSMConnectionString6"
      connectionString="Data Source=SERVIDOR\SERVIDOR;Initial Catalog=GrupoSM;Persist Security Info=True;User ID=ClienteSistema;Password=147369"
      providerName="System.Data.SqlClient" />
    <add name="GrupoSM_Recepcion.Properties.Settings.GrupoSM1ConnectionString"
      connectionString="Data Source=0SERVIDOR\SERVIDOR;Initial Catalog=GrupoSM1;Persist Security Info=True;User ID=Sistema;Password=147369"
      providerName="System.Data.SqlClient" />
    <add name="GrupoSM_Recepcion.Properties.Settings.GrupoSM2ConnectionString"
      connectionString="Data Source=0SERVIDOR\SERVIDOR1;Initial Catalog=GrupoSM2;Persist Security Info=True;User ID=Sistema;Password=147369"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    </configuration>